.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-overlay {
  background: url('../img/background/background-2.avif');
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; 
  transition: background-position 0.15s ease; 
}

.hero-container {
  height: 60vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #1F2544);
  text-align: center;
}

.hero-container h1 {
  font-size: clamp(1.5rem, 5vw, 4.5rem);
  cursor: context-menu;
}

main {
  min-height: 50vh;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
  animation: colorChange 4s infinite linear;
  --bg-size: 400%;
  font-size: clamp(2rem, 4vw, 3rem);
  background: linear-gradient(90deg,#81689d,#FFD0EC,#81689d) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: context-menu;
}

@keyframes colorChange {
  to {
    background-position: 400% 0;
  }
}

.blub {
  justify-content: space-around;
  width: 75vw;
  flex-wrap: wrap;
}

.profile-container {
  border: 2px solid #81689D;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 10px;
  transition: border 0.3s ease-in-out;
}

.profile-container:hover {
  border-color: rgb(254, 227, 243);
}

.image-container {
  padding: 10px;
}

.image-container img {
  width: clamp(10rem, 7vw, 15rem);
  border-radius: 60%;
  cursor: pointer;
}

.name a{
  width: clamp(10rem, 10vw, 15rem);
  color: #FFD0EC;
  text-decoration: none;
  font-size: clamp(0.5rem, 5vw, 1.2rem);
}

.name > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.current-page {
  opacity: 1;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .name a {
    font-size: clamp(0.5rem, 5vw, 1.1rem);
  }

  h1 {
    word-wrap: break-word;
    margin: 0px 50px;
  }
}