body {
  position: relative;
  background-color: #1F2544;
  color: #ffebf7;
  margin: 0;
  font-family: 'Merriweather', serif;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #474F7A;
}

::-webkit-scrollbar-thumb {
  background-color: #FFD0EC;
}

nav {
  background-color: transparent;
  position: absolute;
  top: 100;
  left: 0;
  right: 0;
  z-index: 101;
  padding-top: 28px;
  padding-left: 8vw;
  padding-right: 10.7vw;
  display: flex;
  justify-content: space-between;
}

nav a, .link {
  text-decoration: none;
  font-size: clamp(0.4rem, 2vw, 1.3rem);
  color: #FFD0EC;
  opacity: 0.8;
  border: none;
}

nav a:hover, .dropdown.active > .link, .link:hover {
  opacity: 1;
  cursor: pointer;
}

.home-button {
  font-size: clamp(1rem, 2.3vw, 1.65rem);
  color: #FFD0EC;
  opacity: 1;
  margin-bottom: 5px;
}

.home-bt-div {
  padding-left: 3%;
}

.nav-links-div {
  display: flex;
  align-items: end;
}

.nav-links-div a {
  margin-left: 2.5rem;
  cursor: pointer;
  position: relative;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.75rem);
  width: 20vw;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  background-color: #474f7a;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(255, 208, 236, 1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.dropdown-menu > a {
  margin-bottom: 5px;
  border-bottom: 2px solid #FFD0EC;
  margin-left: 0px;
}

.dropdown-menu > a:last-child {
  border-bottom: none;
} 

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.nav-overlay {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  padding-top: calc(30px + 2rem);
  display: flex;
  justify-content: center;
}

.line-animation-div-2, .line-animation-div-1 {
  height: 5px;
  width: 0px;
  border-radius: 20px;
  background-color: #FFD0EC;
  margin: 0;
}

.line-animation-div-1 {
  animation: expandLeft 1s alternate 0.6s 1 forwards;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.line-animation-div-2 {
  animation: expandRight 1s linear 0.6s 1 forwards;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
}

@keyframes expandRight {
  0% {
    width: 0;
    right: 50vw; 
  }

  50% {
    width: 26vw;
    right: 24vw;
  }

  60% {
    width: 31vw;
    right: 17vw;
  }

  75% {
    width: clamp(200px, 30vw, 360px);
    right: 10vw; 
  }

  85% {
    width: clamp(200px, 40vw, 380px);
    right: 8.5vw; 
    border-radius: 1vw;
  }

  95% {
    width: clamp(200px, 35vw, 22rem);
    right: 10.3vw; 
    border-radius: 1vw;
  }

  100% {
    width: clamp(16.5rem, 37vw, 23rem);
    right: 10vw; 
    border-radius: 1vw;
  }
}

.line-animation-div-2:after {
  content: ''; /* Add content property for pseudo-elements */
  position: absolute;
  height: 5px;
  width: 0px;
  border-radius: 20px;
  background-color: #FFD0EC;
  right: 10.7vw; /* Adjust the value based on your requirement */
  top: 0;
}

@keyframes expandLeft {
  0% {
    width: 0;
  }

  50% {
    width: 26vw; 
    margin-right: 26vw; 
  }

  60% {
    width: 31vw; 
    margin-right: 26vw; 
  }

  75% {
    width: 17vw; 
    margin-right: 62vw; /
  }

  85% {
    width: 19vw; 
    margin-right: 63.5vw; 
    border-radius: 1vw; 
  }

  90% {
    width: 17vw; 
    margin-right: 61.7vw; 
    border-radius: 1vw; 
  }

  100% {
    width: 17vw; 
    margin-right: 62vw; 
    border-radius: 1vw; 
  }
}



.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.hero-container {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #1F2544);
}

footer {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

footer a {
  text-decoration: underline;
  color: #FFD0EC;
}

p {
  cursor: context-menu;
}